body {

background-color: green;
color: burlywood;
padding: 10px;
float: center;

}

#image {

float: left;

}

#description {

float: right;

}

#reviews {

clear: both;

}
